html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f172a;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
}

/* Globala knappar */
.btn-primary {
  display: inline-block;
  background-color: #003865;
  color: white;
  padding: 0.75rem 2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #012f5f;
}

body.sidebar-visible .feedback-display {
  margin-left: 240px;
  transition: margin 0.3s ease;
}

body.sidebar-visible main {
  margin-left: 240px; /* Justera detta värde för att matcha sidofältets bredd */
  transition: margin 0.3s ease;
}

@media screen and (max-width: 800px) {
  body.sidebar-visible main {
    margin-left: 0; /* Ingen marginal på små skärmar */
    transition: margin 0.3s ease;
  }
  body.sidebar-visible .feedback-display {
    margin-left: 0;
    transition: margin 0.3s ease;
  }
}