<link rel="stylesheet" href="./css/flashmeddelande.css">

<div class="flash-container">
  <% if (errorMessages.length > 0) { %>
    <% errorMessages.forEach(function(msg) { %>
      <div class="flash flash-error"><%= msg %></div>
    <% }) %>
  <% } %>

  <% if (successMessages.length > 0) { %>
    <% successMessages.forEach(function(msg) { %>
      <div class="flash flash-success"><%= msg %></div>
    <% }) %>
  <% } %>
</div>

