<link rel="stylesheet" href="./css/404.css">

<div class="error-container">
  <h1>500 - Internal Server Error</h1>
  <p>Oops! Something went wrong on our end. Please try again later.</p>
  <a href="./" class="home-link">Go Back Home</a>
</div>