<link rel="stylesheet" href="css/login.css">
<script type="module" src="/js/google.js"></script>

<section class="auth-section">
  <%- include('../partials/flashmeddelande') %>
  <div class="auth-container">
    <h1 class="auth-title">Logga in till TimeLock</h1>

    <form action="/auth/login" method="POST" class="auth-form">
      <label for="email">E-post</label>
      <input type="email" name="email" id="email" required placeholder="you@example.com" />

      <label for="password">Lösenord</label>
      <input type="password" name="password" id="password" required placeholder="••••••••" />

      <button type="submit" class="btn-primary">Logga in</button>
    </form>

    <div class="divider">
      <span>eller</span>
    </div>

    <button id="google-login" class="btn-google"> Logga in med Google </button>

    <p class="auth-footer">Har du inget konto? <a href="/register">Registrera dig här</a></p>
  </div>
</section>
