<link rel="stylesheet" href="./css/resetPassword.css">


<div class="auth-page">
  <div class="auth-card">
    <h1>Ändra lösenord</h1>

    <%- include('../partials/flashmeddelande') %>

    <form action="/reset-password" method="POST" class="auth-form">
      <input type="hidden" name="_csrf" id="csrfToken" value="<%= csrfToken %>">
      <input type="hidden" name="token" value="<%= token %>">

      <label for="password">Nytt lösenord</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        placeholder="Skriv ditt nya lösenord"
      >

      <label for="confirm">Bekräfta lösenord</label>
      <input
        type="password"
        id="confirm"
        name="confirm"
        required
        placeholder="Bekräfta ditt lösenord"
      >

      <button type="submit" class="btn-submit">
        Byt lösenord
      </button>
    </form>

    <p class="back-to-login">
      <a href="/login">← Tillbaka till inloggning</a>
    </p>
  </div>
</div>
